body {
    background-color: #061E5D;
   

}

.textos-menores {
    font-family: 'Cinzel', serif;
 color: white;
 font-weight: bold;
 font-size:  25px;
 text-align:justify;
 padding: 0 0 0 200px;
 
}

.minha-foto {
    padding: 50px 0 50px 0;
    text-align: center;
    width: 200px;
}
.imagem {
    text-align: center;
}